.body {
  background-color:#495057;
}

.header nav {
  display: flex;
  flex-direction: row;
  font-size: larger;
  /* padding-bottom: 30px; */
  padding: 15px;
  justify-content: space-evenly;
}

.nav-bar-container {
  background-color: cornflowerblue;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.skills {
  font-size: 10;
  text-decoration: underline;
  color: blue;
}

.skillset {
  display: flex;
  flex-direction: row;
}

.float-left {
  float: left;
  margin-right: 25px;
  max-width: 30%;
}

/* .other-projects {
  display: flex;
  flex-wrap: wrap;
} */

.placeholder-container {
  display: flex;
  flex-wrap: wrap;
  
}

.flex-item {
  max-height: 20px;

  display: flex;
  padding: 10px;
  margin: 5px;
  flex-basis: (50% - 1em);
}

.flex-item-other-projects {

    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    max-width: 479px;
    max-height: 359px;

}

.flex-item:first-child {
display: flex;
flex-wrap: wrap;
  min-height: 300px;
  max-height: 50px;
min-width: 75%
  flex-basis: 100%;
}
