.header nav {
  display: flex;
  flex-direction: row;
  font-size: larger;
  padding-bottom: 30px;
  justify-content: center;
}

.nav-bar-container {
  background-color: cornflowerblue;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.skills {
  font-size: 10;
  text-decoration: underline;
  color: blue;
}

.skillset {
  display: flex;
  flex-direction: column;
}

.float-left {
  float: left;
  margin-right: 25px;
  max-width: 30%;
}
