.body {
  background-color: #495057;
}

.header nav {
  display: flex;
  flex-direction: row;
  font-size: larger;
  justify-content: center;
  padding: 10px 20px;
}

.about-me {
  /* possible background image */
}

.nav-bar-container {
  background-color: royalblue;
  text-decoration: none;
  display: flex;
  flex: row;
  /* justify-content: flex-end; */
}

.main-content {
  display: flex;
  flex-direction: column;
}

.titles {
  text-decoration-line: underline;
  font-size: 36px;
  color: aliceblue ;
}

.marketing-header {

  text-align: center;
  text-decoration-line: underline;
  font-size: 24px;
}

.skills {
  font-size: 10;
  text-decoration: underline;
  color: blue;
}

.skillset {
  display: flex;
  flex-direction: row;
}

.float-left {
  float: left;
  margin-right: 25px;
  max-width: 30%;

}

@media screen (max-width: 400px) {
  .marketing-class {
    justify-self: start;
  }
  
}



.other-projects {
  display: flex;
  flex-wrap: wrap;
}

@media screen (max-width: 530px) {
.placeholder-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  position: absolute;
  /* width: 100%;
  height: 100%; */
}
}


.flex-item:first-child {
    display: flex;
    flex-wrap: wrap;
      min-height: 300px;
      max-height: 50px;
    min-width: 75%
      flex-basis: 100%;
    }
    

.flex-item {
  width: 100%;
height: 100%;
display: flex;
  padding: 10px;
  margin: 5px;
  flex-basis: (50% - 1em);
}

div.other-project-container {
    display: flex;
flex-wrap: wrap;
/* justify-content: flex-start; */
}

@media screen (max-width: 320px) {
div.other-project-container div.abc {
    display: flex;
    flex-direction: column;
}
}


.abc {
    display: flex;
    flex-direction: column;
margin: 6%;
}

.contact-main {
  text-align: center;
  font-size: 36px;
  color: aliceblue;
  text-decoration-line: underline;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.contact-me {
  padding: 5px;
}

.footer {
  text-align: center;
}